body{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   height: 100vh; 
   background: #efefef;
}

hr{
    border-bottom: 1px solid #ffffff;
}
.column-1{
    float: left;
    width: 10%;
    padding: 5px 15px;
}
.column-2p5 {
    float: left;
    width: 25%;
    padding: 5px 15px;
}
.column-2 {
    float: left;
    width: 20%;
    padding: 5px 15px;
}
.column-3 {
    float: left;
    width: 30%;
    padding: 5px 15px;
}
.column-4 {
    float: left;
    width: 40%;
    padding: 5px 15px;
}
.column-5 {
    float: left;
    width: 50%;
    padding: 5px 15px;
}
.column-6{
    float: left;
    width: 60%;
    padding: 5px 15px;
}
.column-7 {
    float: left;
    width: 70%;
    padding: 5px 15px;
}
.column-8{
    width: 80%;
    float: left;
    padding: 5px 15px;
}
.dcmd-clear{
    padding-left: 0;
}

/* Clear floats */
.row:after {
    content: "";
    display: block;
    clear: both;
}
.topnav{
    position: fixed;
    z-index: 100;
    width: 100%;
}
.throttle-heading{
    text-align: center;
    padding-top:5px;
    font-size: 14px;
    display: inline-block;
}
.throttle-heading .wt-logo{
    height: 48px;
    width: 142px;
    background: url(../images/WebThrottle.png);
    display: inline-block;
    background-size: 100%;
    box-shadow: 0 0 3px #989898;
    border-radius: 6px;
}
.throttle-heading p{
    font-size: 12px;
    margin: 5px;
}
.ui-widget.ui-widget-content.credits-tooltip{
    border: 1px solid #ccc;
    width: 200px;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 0 4px #aaa;
}
#rendered-form{
    display: flex;
    align-items: center;
    height: 100%;
}
.rendered-form {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 68px;
}
.rendered-form .section{
    width: 80%;
    height: 98%;
    margin: 0 10%;
    background: rgba(0,0,0,0.05);
    border-radius: 10px;
}
#throttle-window{
    box-shadow: 0 0 5px 0px #777777;
    overflow: auto;
    /* height: auto; */
    padding-bottom: 1px;
}
.section{
    box-shadow: 0 0 5px 0px #777777;
    /*overflow: auto;*/
    /* height: auto; */
    padding-bottom: 1px;
}
.rendered-form div {
    box-sizing: border-box;
    justify-content: center;
}
.rendered-form h4 {
    margin: 0;
}
.nav-btn {
    font-size: 30px;
    cursor: pointer;
    color: #666666;
    padding: 10px 15px;
    border: none;
    background: none;
    line-height: 38px;
}
.nav-btn.in{
    color:#cccccc;
    font-size: 40px;
    position: absolute;
    right: 0;
    line-height: 30px;
}
.btn-expand, .btn-info{
    float: right;
    font-size: 20px;
    cursor: pointer;
    color: #666666;
    padding: 10px 15px;
    border: none;
    background: none;
    line-height: 36px;
}
.btn-info{
    padding-top: 14px;
}
.nav-btn:hover {
  color: #000000;
}
.nav-btn.in:hover{
  color: #ffffff;
}
.menu {
	background: #00A3B9;
	height: 100vh;
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
    z-index: 1020;
    box-shadow: 0 0px 10px #666;
    border-right: 1px solid #929292;
    outline: none;
    left: -260px;
    display: none;
}
.menu .avatar img {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border: 0;
}

.menu ul {
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
    margin-top: 1em;
}
.menu ul  li{
    padding: 1em;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 1px #000;
}
.menu ul  li:hover{
    background-color:rgba(0,0,0,0.1);
}
.menu ul  li:focus{
    border:none;
}
.topnav .row div, .add-loco-form .row label, .add-loco-form .row input{
    box-sizing: border-box;
}
.align-center{
    text-align: center;
}
.pos-rel{
    position: relative;
}
.spacer{
    height: 5px;
}
.pl0{
    padding-left: 0;
}
.pr0{
    padding-right: 0;
}
.prh{
    padding-left: 0;
    padding-right: 0;
}