* {
    box-sizing: border-box;
  }

  /* Style the header */
.settings-heading {
    /*background-color: #666;*/
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 35px;
    /*color: white;*/
}
  
/* Container for flexboxes */
.settings-content {
    display: -webkit-flex;
    display: flex;
}

/* Style the navigation menu */
.side-panel {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: rgba(204, 204, 204, 0.3);
    border-right: 1px solid #00A3B9;
    padding: 20px;
}

/* Style the list inside the menu */
.side-panel ul {
    list-style-type: none;
    padding: 0;
}

/* Style the content */
.settings-panel {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    /*background-color: #f1f1f1;*/
    padding: 10px;
}

.back-button{
    text-align: left;
    padding: 10px;
}


/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    .settings-content {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}